<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi_lo</title>
  </head>
  <body>
    <h1>Hi_lo</h1>
    <h2><%=@result_string%></h2>
    <h2><%=@counter%></h2>
  </body>
</html>
